.about Chrome only because I was lazy. Click anywhere to fire a missile. Also: there's no point to any of this. I just jotted down some ideas to what could have become an ascii-on-html5-canvas game.
canvas(width='900px', height='600px')